/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  font-family: "Segoe UI", sans-serif;
  color: #222;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url('homepage.png');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: ease-in-out 500ms;
}


/* Top tab bar */
.tab-bar {
  display: flex;
  justify-content: flex-end;
  background: none;
  padding: 10px 40px 10px;
  font-family: 'Helvetica Now Pro Display Condensed Medium', 
                 'Helvetica Neue Condensed', 
                 'Arial Narrow', 
                 Arial, 
                 sans-serif;
  font-stretch: condensed;
  font-weight: 600;
}

.tab {
  color: white;
  background-color: #000000;
  padding: 20px 20px;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab.active {
  background-color: #fff;
  color: #000000;
}

.tab:hover {
  background-color: #ffb15a;
  color: #fff;
}

/* Content layout */
.content {
  padding: 50px 100px;
}

h1 {
  font-size: 120px;
  color: #ffffff;
  line-height: 100px;
}

p {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.6;
  color: #c5c5c5;
  margin-top: 20px;
}

/* Login button */
.login-container {
  margin-top: 50px;
}

.login-btn {
  display: inline-block;
  background-color: #ffb15a;
  color: #fff;
  padding: 20px 60px;
  border: 3px solid transparent;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 20px
}

.login-btn:hover {
  background-color: #000000;
  border-color: #FFF;
  transform: translateY(-2px);
  box-shadow:0 0 10px #FFD600;
}


/* Section transitions */
.content-section {
  display: none;
  animation: 0.6s;
}

.content-section.active {
  display: block;
}


/* About containers */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.about-image img {
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 15px #f9f9f9;
}